.img{
    width: 440px;
    height: 300px;
    border-radius: 10px;
    border: 8px solid black;
}
.service{
    border: 2px solid lightgray;
    border-radius: 10px;
    /* box-shadow: 10px 10px 5px ; */
    padding: 5px;
    text-align: center;
    padding-bottom: 10px;
}
.button {
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: 2px solid black;
   color: black;
   background-color: salmon;
   border-radius: 7px;
   margin: 10px;
   padding: 5px;
}
.button:hover{
    background-color: black;
    color: white;
}


@media only screen and (max-width:576px) {
    .img{
width: 100%;
height: auto;
    }
}